.reset-password-container{
    background: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    width: 580px;
    max-width: 90%;
    text-align: center;
    border: 4px solid white;
}

.input-group{
    position: relative;
    width: 100%;
    max-width: 400px;
}
  
.input-label{
    position: absolute;
    left: 10px;
    top: -8px;
    padding: 0 5px;
    font-size: 14px;
    color: #FFD700;
    font-weight: 500;
    line-height: 16px;
}

.password-wrapper {
    width: 100%;
}
  
.password-toggle-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: white;
}

.reset-password-btn {
    width: 220px;
    background-color: #FEE17E; 
    color: #650000; 
    padding: 0.5rem 0.8rem;
    border: none; 
    border-radius: 18px; 
    font-size: 1.2rem;
    font-weight: bold; 
    cursor: pointer; 
    transition: transform 0.2s; 
}

.reset-password-btn:hover {
    background-color: #fedb69; 
}